.classpath
.project
.settings
.metadata
.externalToolBuilders/
*.log
build/
dist/
lib/
C:/
bin/
unit-test-reports/
coverage-reports/
build.generated/
ivy-cache/
ivy-project-cache/
target/
Product/NHINC/
Product/.ant-deploy-staging/
Product/Production/Common/Properties/Dev/test*.properties
Product/Production/Common/CONNECTCoreLib/*test*.properties
Product/Production/Common/CONNECTCoreLib/testMPI.xml
Product/Install/deploy.application.list.xml
Product/Install/local.install.properties
Product/Install/.installer.temp/
Product/Install/.backup*/
CheckstyleReport/
PmdReport/
